.PopCateGrid{
    column-gap: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
}
        
@media (min-width: 500px){
    .PopCateGrid{
        column-gap: 20px;
        grid-template-columns: repeat(3,1fr);
        row-gap: 32px
    }
}

@media (min-width: 800px){
    .PopCateGrid{
        column-gap: 16px;
        grid-template-columns: repeat(4,1fr);
        row-gap: 32px
    }
}

@media (min-width: 1100px){
    .PopCateGrid{
        column-gap: 16px;
        grid-template-columns: repeat(5,1fr);
        row-gap: 32px
    }
}
