.container {
    width: 70%;
    margin: 10px auto;
    margin-left: 10px;
}

.card {
    width: 700px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card header h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.divider {
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

.input-field {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    outline: 0px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    /* box-sizing: border-box; */
}

.input-field:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: none;
}

.button-group, .ModalBtnGroup {
    display: flex;
    gap: 10px;
    margin-top: 40px;
    justify-content: flex-end;
}

.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-error {
    background-color: #dc3545;
}

.btn-error:hover {
    background-color: #c82333;
}

.btn-list {
    background-color: grey;
}

.btn-list:hover {
    background-color: #817f80;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table-cell, .th-center-bold {
    padding: 8px;
    text-align: center;
    border-right: 1px solid #ddd;
    width: 150px;
    font-weight: bold;
}

.table-cell.date-cell {
    width: 100px;
}

.table-cell:last-child {
    border-right: none;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:last-child {
    border-bottom: none;
}

.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.modal-open-button, .modal-close-btn {
    cursor: pointer;
    margin-left: auto;
}

.center td {
    cursor: pointer; 
}

.center td:hover {
    background-color: #f0f0f0;
}

.mTab.typeNav ul {
    display: flex;
    list-style: none;
    border-bottom: 2px solid #ccc;
}

.mTab.typeNav ul li {
    flex: 1;
    text-align: center;
    position: relative;
}

.mTab.typeNav ul li a {
    display: block;
    padding: 10px 0;
    color: #1b1e26;
    text-decoration: none;
    line-height: normal;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mTab.typeNav ul li.selected {
    border-bottom: 2px solid blue;
}

.mTab.typeNav ul li.selected a {
    color: blue;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}

body, code {
    font-size: 13px !important;
    font-family: "Noto Sans KR", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", sans-serif;
    color: #1b1e26;
    background-color: #f4f5f8;
    -webkit-text-size-adjust: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

.section {
    margin-top: 50px;
}

th, td {
    font-size: 12px;
}

.table-cell-regular {
    font-weight: normal;
}

.modal-box input[type=text], 
.modal-box textarea {
    outline: none !important;
    font-size: 15px;
}
.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.modal-textfield {
    margin: 5px 0;
}

.modal-button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-button {
    font-size: 16px;
}
