/* ----------------------------------------- Snb ----------------------------------------- */
/* snbHidden */
#wrap.snbHidden #header {
    left: 72px;
}

#wrap.snbHidden #container {
    padding-left: 72px;
}

#wrap.snbHidden #sidebar {
    overflow: hidden;
    width: 72px;
    white-space: nowrap;
}

#wrap.snbHidden #sidebar .logo {
    justify-content: center;
    padding-right: 24px;
}

#wrap.snbHidden #sidebar .logo .snbToggle {
    transform: rotate(180deg);
}

#wrap.snbHidden #sidebar .logo h1 {
    display: none;
}

#wrap.snbHidden #sidebar #menuList {
    width: 72px;
}

#wrap.snbHidden #sidebar #menuList .menu {
    width: 40px;
    margin-left: 16px;
    margin-right: 16px;
}

#wrap.snbHidden #sidebar #menuList:hover .menu {
    width: 168px;
}

#wrap.snbHidden #sidebar #menuList .menu > li {
    margin-left: -16px;
    margin-right: -16px;
}

#wrap.snbHidden #sidebar #menuList .menu > li > .link {
    padding-left: 72px;
    color: transparent;
    opacity: 1;
}

#wrap.snbHidden #sidebar #menuList:hover .menu > li > .link {
    color: #f0f2f4;
}

#wrap.snbHidden #sidebar #menuList .menu > li > .link:not(.outlink):after, #wrap.snbHidden #sidebar #menuList .menu > li > .link .icoBadge {
    display: none;
}

#wrap.snbHidden #sidebar .snbArea .subMenu.eClone {
    left: 72px;
}

/* snbHover */
#wrap.snbHover #sidebar #menuList {
    z-index: 10;
    width: 200px;
}

#wrap.snbHover:not(.snbHidden) #sidebar #menuList {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
}

#wrap.snbHover #sidebar #menuList .menu > li > .link {
    padding-left: 62px;
    padding-right: 16px;
    opacity: 1;
}

#wrap.snbHover #sidebar #menuList .menu > li > .link:not(.outlink):after, #wrap.snbHover #sidebar #menuList .menu > li > .link .icoBadge {
    display: none;
}

#wrap.snbHover #sidebar #menuList .menu > li > .link.outlink {
    padding-right: 32px;
}

#wrap.snbHover #sidebar #menuList .menu > li > .link > .ellips {
    display: block;
}

/* snbHidden + snbHover */
#wrap.snbHidden.snbHover #sidebar {
    width: 200px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
}

#wrap.snbHidden.snbHover #sidebar .logo h1 {
    display: block;
}

#wrap.snbHidden.snbHover #sidebar .logo .snbToggle {
    display: none;
}

#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 256px;
    height: 100%;
    padding: 4px 0 0;
    box-sizing: border-box;
    letter-spacing: -1px;
    background: #192642;
    z-index: 1003;
    transition: width 0.3s;
}

html:lang(ko) #sidebar {
    font-family: "Noto Sans KR","맑은 고딕","malgun gothic","Apple SD Gothic Neo",sans-serif;
}

html:not(:lang(ko)) #sidebar {
    letter-spacing: 0;
}

#sidebar .logo {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 14px 10px 14px 24px;
    box-sizing: border-box;
}

#sidebar .logo h1 {
    flex: 1;
}

#sidebar .logo .snbToggle {
    overflow: hidden;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    font-size: 1px;
    line-height: 0;
    color: transparent;
    white-space: nowrap;
    text-indent: 150%;
    background: url('//img.echosting.cafe24.com/ec/v2/beta/ico_toggle.svg') no-repeat center;
    box-shadow: none;
}

#sidebar .logo .snbToggle:hover {
    background-color: #374360;
    background-image: url('//img.echosting.cafe24.com/ec/v2/beta/ico_toggle_white.svg');
}

/* customScrollbar */
#sidebar .eCustomScrollbar > .mCustomScrollBox {
    height: auto;
}

#sidebar .eCustomScrollbar .mCSB_inside > .mCSB_container {
    height: auto;
    margin: 0;
}

#sidebar .eCustomScrollbar .mCSB_scrollTools {
    width: 12px;
}

#sidebar .eCustomScrollbar .mCSB_scrollTools .mCSB_draggerRail {
    width: 5px;
    margin: 0;
    background: none;
}

#sidebar .eCustomScrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 5px;
    margin: 0;
}

#snb {
    position: relative;
    flex: auto;
}

/* menuList */
#menuList {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #192642;
}

#menuList .menu .subMenu {
    display: none;
}

#menuList .menu {
    margin: 0 16px;
    transition: width 0.3s;
}

#menuList .menu + .menu {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #36425e;
    position: relative;
}

#menuList .menu > li {
    margin: 0 -16px;
}

#menuList .menu > li > .link {
    display: block;
    position: relative;
    padding: 10px 42px 10px 62px;
    font-size: 14px;
    line-height: 20px;
    color: #f0f2f4;
    font-weight: 500;
    text-decoration: none;
}

#menuList .menu > li > .link:hover {
    background: #4a5777;
}

#menuList .menu > li > .link:not(.home):after {
    content: "";
    position: absolute;
    top: 16px;
    right: 18px;
    width: 5px;
    height: 8px;
    background-image: url('//img.echosting.cafe24.com/ec/v2/beta/sfix_layout_x2.png');
    background-repeat: no-repeat;
    background-position: -105px -56px;
    background-size: 324px auto;
}

#menuList .menu > li > .link.outlink:after {
    top: 14px;
    right: 18px;
    width: 12px;
    height: 12px;
    background-position: -2px -54px;
}

#menuList .menu > li.hasBadge > .link {
    padding-right: 75px;
}

#menuList .menu > li.hasBadge > .link .icoBadge {
    right: 37px;
}

#menuList .menu > li.hasBadge > .link.outlink .icoBadge {
    right: 44px;
}

#menuList .menu .link:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 24px;
    width: 24px;
    height: 24px;
    background-image: url('//img.echosting.cafe24.com/ec/v2/beta/sfix_snb_x2.png');
    background-repeat: no-repeat;
    background-size: auto 65px;
}

#menuList .menu .link.home:before {
    background-position: 0 0;
}

#menuList .menu .link.order:before {
    background-position: -26px 0;
}

#menuList .menu .link.product:before {
    background-position: -52px 0;
}

#menuList .menu .link.member:before {
    background-position: -78px 0;
}

#menuList .menu .link.board:before {
    background-position: -104px 0;
}

#menuList .menu .link.design:before {
    background-position: -130px 0;
}

#menuList .menu .link.promotion:before {
    background-position: -156px 0;
}

#menuList .menu .link.calculate:before {
    background-position: -182px 0;
}

#menuList .menu .link.market:before {
    background-position: -208px 0;
}

#menuList .menu .link.channel:before {
    background-position: -234px 0;
}

#menuList .menu .link.app:before {
    background-position: -260px 0;
}

#menuList .menu .link.bm:before {
    background-position: -286px 0;
}

#menuList .menu .link.recipe:before {
    background-position: -300px 0;
}

#menuList .menu .link.ftp:before {
    background-position: -325px 0;
}

#menuList .menu .link.excel:before {
    background-position: -312px 0;
}

#menuList .menu .link.setting:before {
    background-position: -338px 0;
}

#menuList .menu .link.connect:before {
    background-position: -364px 0;
}

#menuList .menu .link.marketplus:before {
    background-position: -390px 0;
}

#menuList .menu .link.supplier:before {
    background-position: -416px 0;
}

#menuList .menu .link.fillment:before {
    background-position: -442px 0;
}

#menuList .menu .link.easypick:before {
    background-image: url('//img.echosting.cafe24.com/ec/v2/beta/sfix_snb_x2_v2.png');
    background-position: -468px 0;
    background-size: 490px auto;
}

#menuList .menu .link.message:before {
    background-position: -467px 0;
}

#menuList .menu .link.youtubeshopping:before {
    background: url('//img.echosting.cafe24.com/ec/v2/logo_youtube_x2.svg');
}

/* hover & selected */
#menuList .menu .link.home:hover:before, #menuList .menu li.selected .link.home:before {
    background-position: 0 -41px;
}

#menuList .menu .link.order:hover:before, #menuList .menu li.show .link.order:before, #menuList .menu li.selected .link.order:before {
    background-position: -26px -41px;
}

#menuList .menu .link.product:hover:before, #menuList .menu li.show .link.product:before, #menuList .menu li.selected .link.product:before {
    background-position: -52px -41px;
}

#menuList .menu .link.member:hover:before, #menuList .menu li.show .link.member:before, #menuList .menu li.selected .link.member:before {
    background-position: -78px -41px;
}

#menuList .menu .link.board:hover:before, #menuList .menu li.show .link.board:before, #menuList .menu li.selected .link.board:before {
    background-position: -104px -41px;
}

#menuList .menu .link.design:hover:before, #menuList .menu li.show .link.design:before, #menuList .menu li.selected .link.design:before {
    background-position: -130px -41px;
}

#menuList .menu .link.promotion:hover:before, #menuList .menu li.show .link.promotion:before, #menuList .menu li.selected .link.promotion:before {
    background-position: -156px -41px;
}

#menuList .menu .link.calculate:hover:before, #menuList .menu li.show .link.calculate:before, #menuList .menu li.selected .link.calculate:before {
    background-position: -182px -41px;
}

#menuList .menu .link.market:hover:before, #menuList .menu li.show .link.market:before, #menuList .menu li.selected .link.market:before {
    background-position: -208px -41px;
}

#menuList .menu .link.channel:hover:before, #menuList .menu li.show .link.channel:before, #menuList .menu li.selected .link.channel:before {
    background-position: -234px -41px;
}

#menuList .menu .link.app:hover:before, #menuList .menu li.show .link.app:before, #menuList .menu li.selected .link.app:before {
    background-position: -260px -41px;
}

#menuList .menu .link.bm:hover:before, #menuList .menu li.show .link.bm:before, #menuList .menu li.selected .link.bm:before {
    background-position: -286px -41px;
}

#menuList .menu .link.recipe:hover:before, #menuList .menu li.show .link.recipe:before, #menuList .menu li.selected .link.recipe:before {
    background-position: -300px -41px;
}

#menuList .menu .link.ftp:hover:before, #menuList .menu li.show .link.ftp:before, #menuList .menu li.selected .link.ftp:before {
    background-position: -325px -41px;
}

#menuList .menu .link.excel:hover:before, #menuList .menu li.show .link.excel:before, #menuList .menu li.selected .link.excel:before {
    background-position: -312px -41px;
}

#menuList .menu .link.setting:hover:before, #menuList .menu li.show .link.setting:before, #menuList .menu li.selected .link.setting:before {
    background-position: -338px -41px;
}

#menuList .menu .link.connect:hover:before, #menuList .menu li.show .link.connect:before, #menuList .menu li.selected .link.connect:before {
    background-position: -364px -41px;
}

#menuList .menu .link.marketplus:hover:before, #menuList .menu li.show .link.marketplus:before, #menuList .menu li.selected .link.marketplus:before {
    background-position: -390px -41px;
}

#menuList .menu .link.supplier:hover:before, #menuList .menu li.show .link.supplier:before, #menuList .menu li.selected .link.supplier:before {
    background-position: -416px -41px;
}

#menuList .menu .link.fillment:hover:before, #menuList .menu li.show .link.fillment:before, #menuList .menu li.selected .link.fillment:before {
    background-position: -442px -41px;
}

#menuList .menu .link.easypick:hover:before, #menuList .menu li.show .link.easypick:before, #menuList .menu li.selected .link.easypick:before {
    background-position: -468px -41px;
}

/* snbArea */
.snbArea {
    position: relative;
    flex: auto;
    margin: 3px 0 0;
}

/* simple */
.snbArea.simple #menuList {
    width: 62px;
    transition: width 0.3s;
}

.snbArea.simple #menuList .menu {
    width: 24px;
    margin-left: 24px;
    margin-right: 14px;
}

.snbArea.simple #menuList:hover .menu {
    width: 160px;
}

.snbArea.simple #menuList .menu > li {
    margin-left: -24px;
}

.snbArea.simple #menuList .menu > li > .link {
    white-space: nowrap;
    opacity: 0.4;
}

.snbArea.simple #menuList .menu > li.show > .link {
    opacity: 1;
}

/* subMenu */
.snbArea .subMenu.eClone {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 62px;
    right: 0;
    bottom: 0;
    z-index: 8;
    height: 100%;
    background: #2D3A58;
}

.snbArea .subMenu .subTitle {
    position: relative;
}

.snbArea .subMenu .subTitle .title {
    display: block;
    position: relative;
    padding: 10px 36px 10px 16px;
    font-size: 14px;
    line-height: 20px;
    color: #f0f2f4;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
}

.snbArea .subMenu .subTitle .title.selected {
    background: #3c69dd;
}

.snbArea .subMenu .subTitle .btnGoBack {
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 1px;
    line-height: 0;
    color: transparent;
    white-space: nowrap;
    text-indent: 150%;
    background-color: transparent;
}

.snbArea .subMenu .subTitle .btnGoBack:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 6px;
    left: auto;
    width: 4px;
    height: 4px;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
}

.snbArea .subMenu .subTitle.left .title {
    padding: 10px 16px 10px 32px;
}

.snbArea .subMenu .subTitle.left .btnGoBack {
    right: auto;
    left: 10px;
}

.snbArea .subMenu .subTitle.left .btnViewSetting {
    position: absolute;
    right: 16px;
    top: 10px;
    padding: 1px 8px;
    background: #4F6182;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
    color: #F0F2F4;
    border-radius: 4px;
}

html:lang(ko) .snbArea .subMenu .subTitle.left .btnViewSetting {
    font-size: 13px;
}

.snbArea .subMenu .subTitle.left .btnViewSetting:hover {
    text-decoration: none;
    background-color: #5A6F96;
}

.snbArea .subMenu .subTitle.left .btnViewSetting:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('//img.echosting.cafe24.com/ec/v2/beta/ico_setting.svg') 0 0 no-repeat;
    margin: -3px 4px 0 0;
    vertical-align: middle;
}

/* snb가 닫길때 버튼 숨김 처리 */
#wrap.snbHidden .snbArea.simple .subTitle.left .btnViewSetting {
    display: none;
}

/* show */
#menuList .menu > li.selected > .link {
    background: #3c69dd;
    opacity: 1;
}

#menuList .menu > li.show > .link {
    background: #2D3A58;
    opacity: 1;
}

/* depth common */
.snbArea .subMenu .depthList {
    overflow: hidden;
    flex: auto;
}

.snbArea .subMenu .depthList [class^="depth"] {
    position: relative;
    margin: 0 14px;
}

.snbArea .subMenu .depthList [class^="depth"] + [class^="depth"] {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #404f6b;
}

.snbArea .subMenu .depthList [class^="depth"] li > .link {
    display: block;
    position: relative;
    padding: 10px 35px 10px 16px;
    font-size: 14px;
    line-height: 20px;
    color: #f0f2f4;
    text-decoration: none;
}

.snbArea .subMenu .depthList [class^="depth"] li > .link:after {
    content: "";
    position: absolute;
    background-image: url('//img.echosting.cafe24.com/ec/v2/beta/sfix_layout_x2.png');
    background-repeat: no-repeat;
    background-size: 324px auto;
}

.snbArea .subMenu .depthList [class^="depth"] li > .link[target="_blank"]:after {
    top: 14px;
    right: 16px;
    width: 12px;
    height: 12px;
    background-position: 0 -50px;
}

.snbArea .subMenu .depthList [class^="depth"] li.hasChild > .link:after {
    top: 16px;
    right: 17px;
    width: 5px;
    height: 8px;
    background-position: -105px -55px;
    transform: rotate(90deg);
}

.snbArea .subMenu .depthList [class^="depth"] li > .link:hover {
    background: #4a5777;
}

.snbArea .subMenu .depthList [class^="depth"] li.show .link:hover {
    background: #4a5777;
}

.snbArea .subMenu .depthList [class^="depth"] li.selected > .link {
    font-weight: 500;
    background: #3c69dd;
}

.snbArea .subMenu .depthList [class^="depth"] li.hasBadge > .link {
    padding-right: 50px;
}

.snbArea .subMenu .depthList [class^="depth"] li.hasChild.hasBadge > .link, .snbArea .subMenu .depthList [class^="depth"] li.hasBadge > .link.outlink {
    padding-right: 70px;
}

.snbArea .subMenu .depthList [class^="depth"] li > .link .ellips, #menuList .menu > li > .link > .ellips {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
}

html:lang(ko) .snbArea .subMenu .depthList [class^="depth"] li > .link .ellips, html:lang(ko) #menuList .menu > li > .link > .ellips {
    -webkit-line-clamp: 1;
}

html:lang(vi) #wrap:not(.snbHover) .snbArea .subMenu .depthList [class^="depth"] li > .link .ellips, html:lang(en) #wrap:not(.snbHover) .snbArea .subMenu .depthList [class^="depth"] li > .link .ellips, html:lang(vi) #wrap:not(.snbHover) #menuList .menu > li > .link > .ellips, html:lang(en) #wrap:not(.snbHover) #menuList .menu > li > .link > .ellips {
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    text-overflow: unset;
    word-break: break-word;
}

/* depth2 */
.snbArea .subMenu .depthList .depth2 + .depth2 {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #546179;
}

.snbArea .subMenu .depthList .depth2 li {
    margin: 0 -14px;
}

/* topLine */
.snbArea .subMenu .depthList .depth2 .topLine {
    position: relative;
    margin-top: 16px;
    padding-top: 16px;
}

.snbArea .subMenu .depthList .depth2 .topLine:after {
    content: "";
    position: absolute;
    top: 0;
    left: 14px;
    right: 14px;
    height: 1px;
    background-color: #546179;
}

/* bottomLine */
.snbArea .subMenu .depthList .depth2 .bottomLine {
    position: relative;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.snbArea .subMenu .depthList .depth2 .bottomLine:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 14px;
    right: 14px;
    height: 1px;
    background-color: #546179;
}

/* depth3 */
.snbArea .subMenu .depthList .depth3 {
    display: none;
}

.snbArea .subMenu .depthList .depth3 li > .link {
    padding-left: 24px;
}

/* show */
.snbArea .subMenu .depthList [class^="depth"] li.show .link {
    background: #3C4867;
}

.snbArea .subMenu .depthList [class^="depth"] li.show .selected .link {
    background-color: #3c69dd;
}

.snbArea .subMenu .depthList [class^="depth"] li.show > .link:after {
    transform: rotate(-90deg);
}

.snbArea .subMenu .depthList [class^="depth"] li.show > [class^="depth"] {
    display: block;
}

.snbArea .subMenu .depthList li.show > .link {
    font-weight: 500;
}

.snbArea .subMenu .depth2 li > .link.outlink:after, .snbArea .subMenu .depth3 li > .link.outlink:after {
    top: 14px;
    right: 17px;
    width: 12px;
    height: 12px;
    background-position: -2px -54px;
}

/* inSelected */
.snbArea .subMenu .depthList [class^="depth"] li.hasChild.inSelect > .link {
    font-weight: 700;
}

/* bannerArea */
.bannerArea {
    margin: 48px 15px 15px;
}

.bannerArea .bannerLink {
    display: block;
}

.bannerArea .bannerLink:hover {
    text-decoration: none;
}

.bannerArea .snbBanner {
    position: relative;
    padding: 46px 12px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fafafa;
}

.bannerArea .icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center center;
}

.bannerArea .icon.monitoring {
    background-image: url("//img.echosting.cafe24.com/ec/v2/beta/ico_banner_monitoring.svg");
}

.bannerArea .title {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #595959;
    font-weight: bold;
}

html:lang(ko) .bannerArea .title {
    font-size: 13px;
}

.bannerArea .title .icoArrow {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    margin: -4px 0 0 2px;
    vertical-align: middle;
}

.bannerArea .title .icoArrow:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 1px;
    width: 5px;
    height: 5px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #343434;
    transform: rotate(45deg);
}

.bannerArea .desc {
    margin: 8px 0 0;
    font-size: 12px;
    line-height: 18px;
    color: #595959;
}

html:lang(ko) .bannerArea .desc {
    font-size: 13px;
}

/* common snb icon */
.snbArea .icoBadge {
    position: absolute;
    top: 20px;
    right: 14px;
    display: inline-block;
    overflow: hidden;
    width: 32px;
    height: 18px;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    background-image: url(//img.echosting.cafe24.com/ec/v2/sfix_icon_snb.png);
    background-repeat: no-repeat;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.snbArea .subMenu .depthList [class^="depth"] li.hasChild > .link .icoBadge, .snbArea .subMenu .depth2 li > .link.outlink .icoBadge {
    right: 37px;
}

.snbArea .icoBadge.new {
    background-position: -1px -1px;
}

.snbArea .icoBadge.beta {
    background-position: -43px -1px;
}

.snbArea .icoBadge.hot {
    background-position: -85px -1px;
}

.snbArea #menuList .icoBadge {
    right: 24px;
}

/* jquery.ellipsis */
.ellip {
    display: block;
    height: 100%;
}

.ellip-line {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.ellip, .ellip-line {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

/* sideTip */
.sideTip {
    display: none;
    position: fixed;
    border: 1px solid #aeb4c6;
    padding: 4px 7px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #1b1e26;
    font-size: 12px;
    line-height: 18px;
    background-color: #fff;
    z-index: 111;
}

html:lang(ko) .sideTip {
    font-size: 13px;
}

#wrap.snbHidden .sideTip {
    display: block;
}

/* easypHelp */
.snbArea .subMenu a:hover {
    text-decoration: none;
}

.snbArea .subMenu .bannerArea .customerHelp {
    position: relative;
    z-index: 1;
    padding: 16px 12px;
    border-radius: 4px;
    background-color: #fff;
}

.snbArea .subMenu .bannerArea .customerHelp:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 73px;
    height: 75px;
    background: url('//img.echosting.cafe24.com/ec/v2/beta/ico_headphone.svg') no-repeat;
}

.snbArea .subMenu .bannerArea .customerHelp .title {
    font-size: 12px;
    line-height: 18px;
    color: #444B59;
}

.snbArea .subMenu .bannerArea .customerHelp .tel {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #444B59;
}

.snbArea .subMenu .bannerArea .customerHelp .desc {
    position: relative;
    margin: 8px 0 0;
    padding: 0 0 0 16px;
    font-size: 12px;
    line-height: 20px;
    color: #667084;
}

.snbArea .subMenu .bannerArea .customerHelp .desc::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 13px;
    height: 13px;
    background: url('//img.echosting.cafe24.com/ec/v2/beta/ico_clock.svg') no-repeat;
}

.snbArea .subMenu .bannerArea .customerHelp .txtLink {
    display: inline-block;
    margin: 8px 0 0;
    font-size: 12px;
    line-height: 18px;
    color: #667084;
    text-decoration: underline;
}

.snbArea .subMenu .bannerArea .customerHelp .txtLink:hover {
    color: #667084;
}

.snbArea .subMenu .bannerArea .customerHelp .button {
    margin: 8px 0 0;
}

.snbArea .subMenu .bannerArea .customerHelp .button .btnEasypick {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 8px 6px 68px;
    border: 1px solid #AEB4C6;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    color: #667084;
}

.snbArea .subMenu .bannerArea .customerHelp .button .btnEasypick::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 8px;
    width: 57px;
    height: 22px;
    background: url('//img.echosting.cafe24.com/ec/v2/beta/ico_easypick.svg') no-repeat;
}

.snbArea .subMenu .bannerArea .customerHelp .button .btnEasypick .icoArrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('//img.echosting.cafe24.com/ec/v2/beta/ico_arrow.svg') no-repeat;
}

/* layerEasypick */
.layerEasypick {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 116;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.32);
}

.layerEasypick.show {
    display: flex;
}

.layerEasypick .layerEasyWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 520px;
    padding: 32px 24px 24px;
    border: 1px solid #D6DAE1;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.layerEasyWrap .layerHeader h2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.layerEasyWrap .layerContent {
    margin: 24px 0 0;
}

.layerEasyWrap .layerContent .easypickBoard {
    margin: 0 -24px;
}

.layerEasyWrap .layerContent .easypickBoard table {
    font-size: 13px;
    line-height: 20px;
}

.layerEasyWrap .layerContent .easypickBoard th {
    height: 32px;
    padding: 4px 8px 4px 24px;
    text-align: left;
}

.layerEasyWrap .layerContent .easypickBoard td {
    height: 32px;
    padding: 4px 24px 4px 8px;
}

.layerEasyWrap .layerContent .easypickBoard td .txtGreyLink {
    position: relative;
    margin: 0 0 0 8px;
    color: #667084;
}

.layerEasyWrap .layerContent .easypickBoard td .txtGreyLink .icoLink {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -3px 0 0;
    vertical-align: middle;
    background: url('//img.echosting.cafe24.com/ec/v2/beta/ico_link.svg') no-repeat;
}

.layerEasyWrap .btnEasyClose {
    overflow: hidden;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    text-indent: 150%;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
}

.layerEasyWrap .btnEasyClose::before, .layerEasyWrap .btnEasyClose::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 3px;
    width: 18px;
    height: 1px;
    background-color: #667083;
}

.layerEasyWrap .btnEasyClose:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.layerEasyWrap .btnEasyClose:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.layerEasyWrap .layerFooter {
    margin: 28px 0 0;
    text-align: right;
}

.layerEasyWrap .layerFooter .btnEasySubmit {
    display: inline-block;
    min-width: 102px;
    padding: 10px 16px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #3971ff;
}

.layerEasyWrap .layerFooter .btnEasySubmit:hover {
    text-decoration: none;
}
